.blockWrapper {
  display: flex;
  padding: 1.25rem;
}

.blockWrapper.flex-direction-column {
  flex-direction: column;
}

.alignLeft {
  margin-left: auto;
}

.modal {
  width: 100vh;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}